<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Examen U4 </ion-title>
    <ion-button
      class="cerrarSesion"
      (click)="cerrarSesion()"
      slot="end"
      color="danger"
    >
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">
          <ion-item>
            <ion-label> Filtrar </ion-label>
            <ion-toggle
              [(ngModel)]="filtrar"
              (ionChange)="getReservaciones()"
            ></ion-toggle>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-card-content>

  <ion-content>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let reservacion of reservaciones">
            <ion-label>
              {{reservacion.telefonoCliente}} <br />
              {{reservacion.fecha | date}} <br />
              {{reservacion.nombreCliente}} <br />
              {{reservacion.costoTotal | currency}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
